// Incluir temas para Angular Material con `mat.theme()`.
// Este mixin de Sass definirá variables CSS que se usan para dar estilo a los componentes
// de Angular Material según la especificación de Material 3 Design.
// Más información sobre temas y cómo usarlos en los componentes personalizados
// de tu aplicación en https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

:root {
  @include mat.button-toggle-overrides((shape: 4px));
}

html {
  height: 100%;
  @include mat.theme((color: (primary: mat.$rose-palette,
        tertiary: mat.$red-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

body {
  // Establecer por defecto la aplicación en tema de color claro. Se puede cambiar a
  // `dark` para habilitar el tema oscuro, o a `light dark` para deferir a la
  // configuración del sistema del usuario.
  color-scheme: light;

  // Establecer un fondo, fuente y colores de texto por defecto para la aplicación usando
  // las variables CSS a nivel de sistema de Angular Material. Más información sobre estas
  // variables en https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Restablecer el margen del user agent.
  margin: 0;
  height: 100%;
}